.game_block {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .game_board {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .cards {
      display: flex;
      justify-content: center;

      //div {
      //  border: 2px dashed #525252;
      //  border-radius: 12px;
      //  height: 300px;
      //  width: 200px;
      //  //height: 225px;
      //  //width: 150px;
      //  margin-left: 10px;
      //}
      //div:nth-of-type(4),
      //div:nth-of-type(5) {
      //  margin-left: 30px;
      //}
    }
  }

  .game_buttons_block {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    z-index: 10;
    height: 80px;

    .main_button {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .range_block_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 10;
    height: 80px;

    button {
      padding: 20px 40px;
      background-color: inherit;
      border: none;
      font-weight: bold;
      cursor: pointer;
      width: 135px;
      font-family: "Comfortaa", cursive;
      font-size: 20px;
    }
    button:hover {
      padding: 18px 38px;
      border: 2px dashed #414141;
      border-radius: 30px;
    }

    form {
      padding: 0 10px;
      max-width: 580px;
    }
  }
  .range_block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    height: 20px;
  }

  .players_block_wrapper {
    padding: 80px 100px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .bank_block {
      width: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px;
      user-select: none;

      img {
        width: 50px;
        height: 50px;
      }
      p {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 5px;
      }
    }
  }

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  overflow: hidden;
}
