.start_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  .player_block {
    border: 2px dashed #525252;
    border-radius: 30px;
    padding: 8px 14px;
    max-width: 500px;
    min-width: 202px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .btn-block {
    display: flex;

    .main_button {
      max-width: 300px;
      width: max-content;
    }
    .main_button:nth-of-type(2) {
      margin-left: 20px;
    }
  }
}

@media (max-width: 650px) {
  .start_block {
    height: auto;

    .player_block {
      max-width: 500px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
    }

    .btn-block {
      flex-direction: column;
      margin-bottom: 50px;

      .main_button:nth-of-type(2) {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}
