.start-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 500;
  padding: 40px 20px 40px;

  .modal-content {
    width: 500px;
    background-color: #f6f6e9;
    color: #313131;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 33px;
    border: 2px solid #525252;
  }

  .input_name_block {
    height: 95px;
    margin: 10px;

    .input_container {
      input {
        height: 95px;
      }
    }
  }
  .content_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
  }
  .icons_block {
    user-select: none;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &.custom_scrollbar {
      max-height: calc(100vh - 245px);
    }
    &.custom_scrollbar::-webkit-scrollbar-thumb {
      background-image: linear-gradient(180deg, #ca3e47 0%, #414141 99%);
    }

    img {
      margin: 5px;
      width: 65px;
      height: 65px;
    }

    div {
      position: relative;
      cursor: pointer;
      z-index: 501;
    }

    div:before {
      content: "";
      border: 25px solid transparent;
      border-radius: 50%;
      width: 75px;
      height: 75px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    div.checked:before {
      content: "";
      border: 25px solid #525252;
    }
  }
  .btn_block {
    width: 100%;

    .main_button {
      max-width: 100%;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

@media (max-width: 600px) {
  .start-modal .modal-content {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .start-modal {
    .input_name_block {
      .input_container {
        input {
          font-size: 26px;
        }

        span {
          font-size: 26px;
        }
      }
    }
  }
}
