.user_block {
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
  position: relative;
  user-select: none;

  &:after {
    content: "";
    border: 10px solid transparent;
    border-radius: 50%;
    width: 71px;
    height: 71px;
    position: absolute;
    top: 26px;
    z-index: 1;
  }
  &.itsI {
    p,
    img {
      cursor: pointer;
    }
    img:hover {
      transform: scale(1.15);
      transition: 0.5s;
    }

    p:hover {
      color: #0071cd;
    }
  }
  &.itsI:after {
    content: "";
    border: 10px solid #525252;
  }
  &.is_current_player:after {
    content: "";
    border: 10px solid #0071cd;
  }
  &.no_cash {
    opacity: 0.5;
  }

  img {
    z-index: 2;
  }

  p {
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75px;
  }
}
