.rename-modal {
  .modal-content {
    width: 500px;
    background-color: #f6f6e9;
    color: #313131;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 33px;
    border: 2px solid #525252;
  }

  .input_name_block {
    height: 95px;
    margin: 10px;

    .input_container {
      input {
        height: 95px;
      }
    }
  }
  .btn_block {
    width: 100%;

    .main_button {
      max-width: 100%;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

@media (max-width: 600px) {
  .rename-modal .modal-content {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .rename-modal {
    .input_name_block {
      .input_container {
        input {
          font-size: 26px;
        }

        span {
          font-size: 26px;
        }
      }
    }
  }
}
