.menu_users_block {
  flex: 1;
  user-select: none;

  .dnd-list {
    cursor: move;

    &:hover {
      background-color: #f2f4f6;
    }
  }

  .player_item {
    display: flex;
    padding: 8px 16px;

    img {
      margin-right: 16px;
    }

    button {
      border-radius: 5px;
      border: 1px solid #ccc;
      box-shadow: 1px 1px 1px #999;
      padding: 8px 16px;
      font-weight: bold;
      cursor: pointer;
      user-select: none;
      height: max-content;

      &:hover {
        box-shadow: none;
      }
    }
    button:nth-of-type(1) {
      margin-left: auto;
    }
    button:nth-of-type(2) {
      margin-left: 8px;
    }

    &.current {
      & > img,
      .info > p {
        cursor: pointer;
      }
      .info > p:hover {
        color: #0071cd;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 65px;
    font-size: 18px;

    & > div {
      display: flex;
      align-items: center;
    }

    .dealer_block {
      background-color: #ff6768;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      border: 2px dotted #f6f6e9;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      margin-left: 8px;

      &.not_dealer {
        background-color: #525252;
        cursor: pointer;
      }
    }
  }
}
