.custom_scrollbar {
  max-height: calc(100vh - 140px);
  overflow-y: auto;
  /*direction: ltr;*/
  /*scrollbar-color: #d4aa70 #e4e4e4;*/
  /*scrollbar-width: thin;*/
}

.custom_scrollbar::-webkit-scrollbar {
  width: 20px;
}

.custom_scrollbar::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  border-radius: 100px;
  /*background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);*/
  background-image: linear-gradient(180deg, #ca3e47 0%, #414141 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
}

@media (min-width: 1280px) {
  .desktop_hide {
    display: none !important;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .laptop_hide {
    display: none !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .tablet_hide {
    display: none !important;
  }
}
@media (max-width: 769px) {
  .mobile_hide {
    display: none !important;
  }
}

@media (max-width: 1279px) {
  .desktop_show {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .mobile_show {
    display: none !important;
  }
}
