.user_block {
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
  //border-bottom: 2px solid #525252;
  position: relative;
  user-select: none;

  &:after {
    content: "";
    border: 10px solid transparent;
    border-radius: 50%;
    width: 71px;
    height: 71px;
    position: absolute;
    top: 26px;
    z-index: 1;
  }
  &.itsI:after {
    content: "";
    border: 10px solid #525252;
  }
  &.is_current_player:after {
    content: "";
    border: 10px solid #0071cd;
  }

  img {
    z-index: 2;
  }

  p {
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75px;
  }

  button {
    border: none;
    border-radius: 3px;
    color: #f6f6e9;
    background-color: #ca3e47;
    padding: 5px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    z-index: 4;
    cursor: pointer;
  }

  .card_items {
    position: relative;
    width: 30px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top: -4px;

    div {
      background-color: #525252;
      border: 1px solid #414141;
      color: #f6f6e9;
      width: 16px;
      height: 24px;
      border-radius: 3px;
    }

    div:nth-of-type(1) {
      background-color: #313131;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(340deg);
    }
    div:nth-of-type(2) {
      background-color: #414141;
      position: absolute;
      top: 0;
      left: 6px;
    }
    div:nth-of-type(3) {
      background-color: #525252;
      position: absolute;
      top: 0;
      left: 10px;
      transform: rotate(20deg);
    }
    div:nth-of-type(4) {
      background-color: #525252;
      position: absolute;
      top: 1px;
      left: 14px;
      transform: rotate(40deg);
    }

    span {
      z-index: 1;
      color: aliceblue;
      font-size: 18px;
    }
  }
}
