.user_block {
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
  //border-bottom: 2px solid #525252;
  position: relative;
  user-select: none;

  &:after {
    content: "";
    border: 10px solid transparent;
    border-radius: 50%;
    width: 71px;
    height: 71px;
    position: absolute;
    top: 26px;
    z-index: 1;
  }
  &.itsI:after {
    content: "";
    border: 10px solid #525252;
  }
  &.is_current_player:after {
    content: "";
    border: 10px solid #0071cd;
  }

  img {
    z-index: 2;
  }

  p {
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75px;
  }

  button {
    border: none;
    border-radius: 3px;
    color: #f6f6e9;
    background-color: #ca3e47;
    padding: 5px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    z-index: 4;
    cursor: pointer;
  }

  .dealer_block {
    background-color: #525252;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px dotted #f6f6e9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  .dealer_block.current {
    background-color: #ff6768;
  }
  .dealer_block.is_host:not(.current) {
    cursor: pointer;
  }
}
