.home_page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background-color: #1a191d;
  position: relative;
  overflow: hidden;

  .first_row {
    width: 350px;
    height: 150px;
    z-index: 2;
    user-select: none;
  }

  .second_row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
  }

  .animated_items {
    position: relative;
    width: 300px;
    height: 300px;
    user-select: none;

    span {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border-top: 0.25px solid rgba(255, 255, 255, 0.5);
      border-left: 0.25px solid rgba(255, 255, 255, 0.5);
      z-index: 2;
    }
    img {
      width: 300px;
      height: 300px;
      position: absolute;
    }
    img:nth-of-type(1) {
      animation: animate 4s ease-in-out infinite;
    }
    img:nth-of-type(2) {
      animation: animate 4s ease-in-out infinite;
      animation-delay: -2s;
    }
    //span:nth-child(1) {
    //  background: rgba(255, 255, 255, 0.1);
    //  backdrop-filter: blur(10px);
    //  border-top: 0.25px solid rgba(255, 255, 255, 0.5);
    //  border-left: 0.25px solid rgba(255, 255, 255, 0.5);
    //  z-index: 2;
    //}
    //span:nth-child(2) {
    //  background-color: #ca3e47;
    //  animation: animate 4s ease-in-out infinite;
    //}
    //span:nth-child(3) {
    //  background-color: #000;
    //  animation: animate 4s ease-in-out infinite;
    //  animation-delay: -2s;
    //  border-radius: 0;
    //}

    @keyframes animate {
      0% {
        transform: translate(-300px, 100px) scale(0.4) rotate(0deg);
        z-index: 1;
      }
      50% {
        transform: translate(300px, -100px) scale(0.4) rotate(180deg);
        z-index: 1;
      }
      50.00001% {
        transform: translate(300px, -100px) scale(0.4) rotate(180deg);
        z-index: 3;
      }
      100% {
        transform: translate(-300px, 100px) scale(0.4) rotate(360deg);
        z-index: 3;
      }
    }
  }

  //h2.main_text {
  //  position: relative;
  //  font-size: 8rem;
  //  color: #2d2d2d;
  //}
  //h2.main_text::before {
  //  content: attr(data-text);
  //  position: absolute;
  //  color: white;
  //  width: 50px;
  //  overflow: hidden;
  //  white-space: nowrap;
  //  border-right: 4px solid white;
  //  animation: text-animate 4s ease-in-out infinite;
  //  //filter: drop-shadow(0 0 20px white) drop-shadow(0 0 1px white);
  //}
  //@keyframes text-animate {
  //  0%,10%,100% {
  //    width: 0;
  //  }
  //  70%,90% {
  //    width: 100%;
  //  }
  //}

  .input_block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    z-index: 1;
  }

  .main_button {
    margin-bottom: 20px;
  }

  /* svg */
  svg {
    //position: absolute;
    //width: 100%;
    //height: 100%;
    //font: 5em/1 Comfortaa, Open Sans, Impact;
    font: 130px Open Sans, Impact;
  }

  //$colors: #f2385a, #f5a503, #e9f1df, #56d9cd, #3aa1bf;
  $colors: #ca3e47, #525252, #e1e0e7, #ca3e47, #525252;
  $max: length($colors);
  $dash: 70;
  $dash-gap: 10;
  $dash-space: $dash * ($max - 1) + $dash-gap * $max;
  $time: 6s;
  $time-step: $time/$max;

  //@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

  .text {
    fill: none;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-dasharray: $dash $dash-space;
    stroke-dashoffset: 0;
    -webkit-animation: stroke $time infinite linear;
    animation: stroke $time infinite linear;

    @for $item from 1 through $max {
      &:nth-child(#{$max}n + #{$item}) {
        $color: nth($colors, $item);
        stroke: $color;
        -webkit-animation-delay: -($time-step * $item);
        animation-delay: -($time-step * $item);
      }
    }
  }

  @-webkit-keyframes stroke {
    100% {
      stroke-dashoffset: -($dash + $dash-gap) * $max;
    }
  }

  @keyframes stroke {
    100% {
      stroke-dashoffset: -($dash + $dash-gap) * $max;
    }
  }

  .main_background_container {
    position: absolute;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    user-select: none;

    h2 {
      position: relative;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
      color: #151515;
      font-size: 5em;
      line-height: 0.9em;
      letter-spacing: 4px;

      //span {
      //  position: relative;
      //  color: white;
      //  animation: bganimate 5s linear infinite;
      //}
      //
      //span.text2 {
      //  animation-delay: -0.5s;
      //  filter: hue-rotate(225deg);
      //}
      //
      //@keyframes bganimate {
      //  0%,
      //  5%,
      //  10.1%,
      //  15.1%,
      //  25.1%,
      //  45%,
      //  70.1%,
      //  90%,
      //  100% {
      //    color: #151515;
      //    text-shadow: 0 0 0 #151515;
      //  }
      //  5.1%,
      //  10%,
      //  15.2%,
      //  25%,
      //  45.1%,
      //  7%,
      //  90.1%,
      //  95% {
      //    color: white;
      //    text-shadow: 0 0 10px #ca3e47, 0 0 20px #ca3e47, 0 0 40px #ca3e47,
      //      0 0 80px #ca3e47, 0 0 160px #ca3e47;
      //  }
      //}
    }
  }
}

@media (max-width: 1500px) {
  .home_page {
    .animated_items {
      width: 150px;
      height: 150px;

      img {
        width: 150px;
        height: 150px;
      }
    }

    @keyframes animate {
      0% {
        transform: translate(-150px, 50px) scale(0.4) rotate(0deg);
        z-index: 1;
      }
      50% {
        transform: translate(150px, -50px) scale(0.4) rotate(180deg);
        z-index: 1;
      }
      50.00001% {
        transform: translate(150px, -50px) scale(0.4) rotate(180deg);
        z-index: 3;
      }
      100% {
        transform: translate(-150px, 50px) scale(0.4) rotate(360deg);
        z-index: 3;
      }
    }
  }
}

@media (max-width: 1000px) {
  .home_page {
    .animated_items {
      display: none;
    }
  }
}

@media (max-width: 450px) {
  .home_page {
    .main_button {
      max-width: 90vw;
      margin-left: auto;
      margin-right: auto;
    }
    .main_input {
      max-width: 90vw;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
